div.send-message form div.form-group input#NewComment.form-control.text-area {
    display: inline-block;
    width: calc(100% - 172px);
}

div.send-message form div.form-group div.send-button {
    width: 75px;
    display: inline-block;
}

ul#alerts-menu.dropdown-menu {
    height: auto;
    max-height: 70vh;
    overflow-x: auto;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before{
    top: 18px !important;
}

ol#comments-list.chat {
    height: auto;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul#history-list.list-unstyled {
    height: auto;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul#attachments-list.list-unstyled {
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}