@{
    Layout = "~/Views/Shared/_LoggedOut.cshtml";
}
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand navbar-text">Bug Tracker</p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Register", "Register")
                </li>
                <li>
                    @Html.ActionLink("Login", "Login")
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="" data-image="/Assets/img/background/background-1.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card" data-background="color" data-color="blue">
                            <div class="card-header">
                                <h3 class="card-title">Recover Password</h3>
                            </div>
                            <div class="card-content">
                                <p>Please check your email to reset your password.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="https://bwright-blog.azurewebsites.net">Bryan Wright</a>
                </div>
                <div class="copyright">
                    <p class="text-muted">Logo: Weaving by Lisa Staudinger from the Noun Project</p>
                </div>

            </div>
        </footer>
    </div>
</div>
@section Scripts {
    <script src="~/Assets/js/demo.js"></script>
    <script type="text/javascript">
        $().ready(function () {
            demo.checkFullPageBackgroundImage();

            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
}

